body{
    background:url('./images/beach-bg.jpg');
    background-position:center;
    background-size:fill;
    background-repeat:no-repeat;
  
}

.form-container{
    background:white;
    width:55%;
    height:50vh;
    margin:0 auto;
    border-radius:10px;
}
.form-section{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
form{
    display:flex;
    flex-direction:column;
}
.login{
    display:flex;
    flex-direction:column
}
.register{
    display:none;
    flex-direction:column;
}